.row = react_component('MediaGallery', path: File.join('/api', v1_media_gallery_items_path(format: 'json')),
                                       foldersPath: File.join('/api', v1_media_gallery_folders_path),
                                       filesPath: File.join('/api', v1_media_gallery_files_path))
