.row = react_component("MediaGallery", path: api_v1_media_gallery_items_path(format: "json"),
                                       groupsPath: api_v1_media_gallery_folders_path,
                                       filesPath: api_v1_media_gallery_files_path)

.row = "#{api_v1_media_gallery_items_path(format: "json")}"
