.fields-template {
  .loading-placeholder {
    display: none;
    padding-bottom: 15px;
  }
}

.group-template-fields, .filters-fields {
  &__label {
    cursor: pointer;
    &--shown {
      &:before {
        content: '▼ '
      }
    }
    &--hidden  {
      &:before {
        content: '▶ '
      }
    }
  }
  &__container {
    &--hidden {
      display: none;
    }
  }
}

div.geo_restriction {
  border: solid $iron 1px;
  margin: 20px 0;
  padding: 10px;

  .boolean {
    padding: 5px 20px;
  }

  .button {
    margin: 0 5px 0 0;
    font-size: .88rem;
  }
}

.nested-fields {
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    border: 1px solid $base;
    border-color: $iron;
    border-left-style: none;
    height: 37px;
    background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, $white), color-stop(50%, $vapor), color-stop(52%, $smoke), color-stop(100%, #f4f4f4));
  }

  .remove_fields {
    width: 20px;
    text-align: center;
    font-size: 1.3rem;
  }

  .select {
    margin: 0;
    padding: 0 0 0 1rem;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.geo-rules {
  padding: 5px 20px;

  .chosen-single {
    box-shadow: none;
  }

  .chosen-disabled {
    opacity: unset !important;

    div {
      b {
        display: none;
      }
    }
  }

  .fields {
    margin: 5px;
  }

  .links {
    margin: 5px;
  }

  .chosen-container {
    margin: 0;
  }
}

.geo-rules:nth-of-type(2) {
  .City { background-color: #98fb98; }
  .Region { background-color: #03c03c; }
  .CitiesGroup { background-color: #138808; }
}

.geo-rules:nth-of-type(3) {
  .City { background-color: #e9967a; }
  .Region { background-color: #b85d43; }
  .CitiesGroup { background-color: #a91d11; }
}
