defaults: &defaults
  adapter: <%= ENV.fetch("DATABASE_ADAPTER") %>
  encoding: utf8
  reconnect: true
  host: <%= ENV.fetch("DATABASE_HOST") %>
  port: <%= ENV.fetch("DATABASE_PORT") %>
  pool: <%= ENV.fetch("DATABASE_POOL") %>
  database: <%= ENV.fetch("DATABASE_NAME") %>
  username: <%= ENV.fetch("DATABASE_USERNAME") %>
  password: <%= ENV.fetch("DATABASE_PASSWORD") %>
  timeout: 5000

development:
  <<: *defaults
  database: <%= ENV.fetch("DATABASE_NAME") %>_dev

test: &test
  <<: *defaults
  database: <%= ENV.fetch("DATABASE_NAME") %>_test<%= ENV["TEST_ENV_NUMBER"] %>

production:
  <<: *defaults
