// General
$base-font-size: 1rem;
$white: #fff;
$ghost: #fafafa;
$snow: #f9f9f9;
$vapor: #f6f6f6;
$white-smoke: #f5f5f5;
$silver: #efefef;
$smoke: #eee;
$gainsboro: #ddd;
$iron: #ccc;
$base: #aaa;
$aluminum: #999;
$jumbo: #888;
$monsoon: #777;
$steel: #666;
$charcoal: #555;
$tuatara: #444;
$oil: #333;
$jet: #222;
$black: #000;

$font-size: $base-font-size - 0.2rem;
$top-bar-menu-line-height: 2.8rem;
$fa-icon-vertical-align: sub;

// Left Menu
$left-menu-min-height: 100vh;
$left-menu-height: 100%;
$left-menu-list-border: solid 1px $tuatara;

// Logo
$left-menu-logo-padding: 0 1.2rem;

// Left Menu
$left-menu-container-reset-padding-or-margin: 0;
$left-menu-container-list-link-font-fize: $base-font-size;
$left-menu-container-list-font-shadow: 0px 0px 1px rgba(0,0,0 , 1);
$left-menu-container-list-link-padding: 0.5rem;
$left-menu-container-list-link-icon-max-width: 1.7rem;
$left-menu-container-list-link-icon-line-heigth: 2.5rem;
$left-menu-container-list-link-icon-font-size: 1.5rem;
$left-menu-container-list-padding: 0.5rem 1.2rem;;
$left-menu-container-list-width: 100%;
$left-menu-container-list-border: solid 1px $oil;
