$templates_block_border: 1px solid gray;
$templates_block_padding: 1em;
$templates_block_margin-bottom: 1em;

.block-preview {
  display: block;
}
.hidden-input {
  display: none;
}
.row.fields.templates-block {
  border: $templates_block_border;
  padding: $templates_block_padding;
  margin-bottom: $templates_block_margin-bottom;
}
ul.block-list {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  .block-preview {
    width: 100%;
  }
}
.block-preview__markup {
  border: $templates_block_border;
}
